.container {
  background-color: var(--background);
  margin-bottom: 5px;
  margin-top: 5px;
}

.fieldRows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldColumns {
  display: flex;
}
