.label {
  text-align: center;
  font-weight: semibold;
  font-size: 18px;
}

.closed,
.flagged {
  background-color: var(--primary);
  border-left-color: var(--primaryLight);
  border-top-color: var(--primaryLight);
  border-right-color: var(--primaryDark);
  border-bottom-color: var(--primaryDark);
  border-width: 5px;
}

.opened {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryLighter);
  border-color: var(--primary);
  border-width: 2px;
}

.exploded {
  border-width: 2px;
  background-color: #d40;
  border-color: #b20;
}

.field {
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  border-style: solid;
  box-sizing: border-box;
}
